.infoPanel {
  width: 20vw;
  height: 30vh;
  background-color: #ffffff;
  border-radius: 8px;
  border: 2px solid black;
  padding: 10px;
  overflow: auto;
  word-break: break-all;
}

.infoPanel button {
  /* Position inside form */
  position: absolute;
  right: 0;
  top: 0;

  /* General visuals */
  width: 25px;
  height: 25px;
  background-color: black;
  border: 2px solid black;
  padding: 0px;

  /* Text styling */
  color: white;
  line-height: 0px;
}

.infoPanel button:hover {
  background-color: #e00000;
}
